.App {
  grid-area: App;
  padding-right: 2%;
  padding-left: 2%;
  text-align: center;
}

.App-header {
  padding-top: 50px;
  font-size: 25px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Flex-div {
  width: 90%;
}

.graphStyle {
  image-rendering: auto;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.freqLabel {
  display: inline-block;
  width: 250px;
}